html, body {
  height: 99.5%;
}
body {
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 0 auto;
}
h1{
  margin-top:10px;
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
  background-color: #4C4389 ;
  color:white;
  border-radius: 40px;
  text-align:center;
}

h3{
  background-color: purple ;
  color:white;
  border-radius: 30px;
  text-align:center;
  padding: 4px;
}

.tooltip {
  font-size: 18px;
  position: relative;
  display: inline-block;
  float: right;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 3px;
  background: red;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #ffcccc;
  border:2px solid black;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltipB {
  font-size: 18px;
  position: relative;
  display: inline-block;
  background: red;
}

.tooltipB .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #ffcccc;
  border:2px solid black;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}
.tooltipB:hover .tooltiptext {
  visibility: visible;
}

.search-container {
  border:1px solid black;
  width:100%;
  display: flex;
  margin-top: 7px;
  overflow: hidden;
}
.search-container input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: none;
}

.textbox {
  background: #F5F5F5;
  width: 100%;
  height: 22px;
  border: 0;
  outline: 0;
}


.search-container button {

  padding: 6px 10px;
  background: #F5F5F5;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: moccasin;
}


.cancelOrder, .statusEdit, .right{
float: right;
}

.highlight{
  background-color: #E8E8E8;
}

.left{
  float: left;
}

h1 a {
  font-weight: normal;
  background-color: #4169E1;
  display: block;
  color: white;
  text-align: center;
  padding:11px 16px;
  text-decoration: none;
  font-size: 16px;
}


.dropdown {
  float: right;
  overflow: hidden;
}


.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  background-color: #323232;
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #1F1F1F;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.outer {
  background-color: #585858;
}

h1 a:hover {
  background-color: #808080;
}

.footer {
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 30px;
  background-color: #5DADE2;
}

.footer a {
  border-radius: 30px;
  background-color: #2196F3;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 12px;
}

.footer a:hover {
  background-color: coral;
  color: black;
}

.error{
color: red;
}

.b1{
margin-top: 10px;
margin-right: 15px;
}

.form-control{
margin-bottom: 5px;
}

.form-style{
        max-width: 450px;
        background: #FAFAFA;
        padding: 30px;
        margin: 50px auto;
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
        border-radius: 25px;
        border: 6px solid #4C4389;
}
.form-style ul{
        padding:0;
        margin:0;
        list-style:none;
}
.form-style ul li{
        display: block;
        margin-bottom: 10px;
        min-height: 35px;
}
.form-style ul li  .field-style{
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 8px;
        outline: none;
        border: 1px solid #B0CFE0;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;

}.form-style ul li  .field-style:focus{
        box-shadow: 0 0 5px #B0CFE0;
        border:1px solid #B0CFE0;
}
.form-style ul li .field-full{
        width: 100%;
}
.form-style ul li textarea{
        width: 100%;
        height: 100px;
}
.form-style ul li button {
        -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
        background-color: #4C4389;
        border: 1px solid #17445E;
        display: inline-block;
        cursor: pointer;
        color: #FFFFFF;
	padding: 8px 18px;
        text-decoration: none;
        font: 12px Arial, Helvetica, sans-serif;
}
.form-style ul li button:hover {
        background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
        background-color: #28739E;
}

